{% load static %}
{% for pd in products %}
<div class="col-lg-4 col-md-6 col-sm-6 product" id="{{pd.uid}}">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="{{pd.product_images.first.product_image.url}}" style="background-image: url({{pd.product_images.first.product_image.url}});">
            <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6><a href="{% url "get_product" pd.slug %}">{{pd.product_name}}</a></h6>
            <h5>${{pd.price}}</h5>
        </div>
    </div>
</div>
{% endfor %}