{% load static %}
{% block style %}

<link href=" {% static "assets/css/signup_style.css" %}" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
{% endblock style %}

{% block body %}
	<div class="main-w3layouts wrapper mt-5">
		<h1>Reset Password</h1>
		<div class="main-agileinfo">
			{% if messages %}
				{% for message in messages %}
					<div class=" mx-5 text-center alert alert-{{ message.tags }}" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<div class="agileits-top">
				<form action="{% url "reset" uidb64 token %}" method="post">{% csrf_token %}
					<input class="text" type="password" name="pass1" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="pass2" placeholder="Confirm Password" required="">
					<input type="submit" value="RESET">
				</form>
				<p>Back to login <a href="/auth/login/"> Login Now!</a></p>
			</div>
		</div>
	</div>

{% endblock body %}
