{% extends "base/base.html" %}
{% load static %}

{% block hero %}
<section class="vh-100" style="background-color: #7fad39;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0" style="heigth">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post" action="/account/register/">{% csrf_token %}
                  {% include "base/alert.html" %}
                  <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Create Your Account</h3>

                  <div class="form-outline mb-2">
                    <input name="name" type="text" id="form2Example17" class="form-control form-control-lg" required="1"/>
                    <label class="form-label" for="form2Example17">Name</label>
                  </div>

                  <div class="form-outline mb-2">
                    <input name="email" type="email" id="form2Example17" class="form-control form-control-lg" required="1"/>
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-2">
                    <input name="pass1" type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>
                  <div class="form-outline mb-2">
                    <input name="pass2" type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Confirm Password</label>
                  </div>

                  <div class="pt-1 mb-2">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">SignUp</button>
                  </div>

                  <p class="mb-1 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/account/login/"
                      style="color: #393f81;">Login here</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock hero %}

{% block footer %}
{% include "base/footer.html" %}
{% endblock footer %}
